.shop-item {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 1px solid black;
    min-height: 400px;
    padding: 1em;
    max-width: 300px;
    box-shadow: 0px 2px 3px  black;

}

.shop-item-name {
    margin: 0;
    font-size: 2em;
}

.shop-item-description {
    font-size: 1em;
    word-spacing: 0.25em;
}