.shop-item {
    display: flex;
    flex-direction: column;
    width: min(400px, 45vw);
    border: 1px solid black;
    padding: 1em;
}

.shop-item-name {
    margin: 0;
    font-size: 2em;
}

.shop-item-description {
    font-size: 1em;
    word-spacing: 0.25em;
}